header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #27cd7c;
    color: white;
}
.header_logo{
    width: 33.33%;
    margin-left: 10%;
    text-align: center;
}
.header_login{
    margin-right: 5%;
    text-align: center;
    display: flex;
    align-items: center;
}
.header_nav{
    display: flex;
    align-items: center;
    height: 90px;
    margin-left: 5%;
    border: 1px solid white;
    &_title{
        font-size: 14px !important;
    }
    &_logo{
        height: 100%;
        transform: rotate(-90deg);
        color: white;
        
    }
}