body{
    margin: 0;
}
main{
    padding-left: 2%;
    padding-right: 2%;
}
nav{
    padding-left: 2%;
    padding-right: 2%;
}
header{
    padding-left: 2%;
    padding-right: 2%;
}
#root{
    min-height: 100vh;
}
.App{
    min-height: 100vh;
}
p{
    margin: 0 0 0 0;
}